<%# template for listing BibTeX entries %>
<b>[<%= entry['$id']%>]</b> <br>
<%= bbl_authors %><br>
<em><%= bbl_title %></em><br>
<%= bbl_remainder.join("\n").gsub("/n",'<br>') %><br>

<a name="bibtex-<%=entry['$id']%>" onclick="w=window.open('/bibtex/show?id=<%=entry['$id']%>', 'BibTex','resizable=yes, location=no, width=640, height=480,menubar=no, status=no, scrollbars=yes, toolbar=no'); w.focus(); return false;">
[BibTex]
</a>

<% if entry.has_key?('abstract') %>
<a name="abstract-<%=entry['$id']%>" href="/bibtex/abstract?id=<%=entry['$id']%>">
[abstract]
</a>
<% end %>
<br>

(in <tt><%= entry['$from_source']%></tt>)
<br>